VITE_SUPABASE_URL=https://qxytbhxipejislnosetl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4eXRiaHhpcGVqaXNsbm9zZXRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0ODk5MDMsImV4cCI6MjA5NDA2NTkwM30.XPQ5r7cYDCeA4kKn00X34RJY_pzcC4OrR9ysMjzR9qM
VITE_API_URL=https://siteforge-ai-o8ca.onrender.com/api
